@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 1.02em;
  font-family: 'Baloo Thambi 2', cursive;
}

/** btn1 styling */
.btn1 {
  width: 8em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #3F88C5;
  color: white;
}
.btn1:active {
  background-color: #4da5ee;
}
/** burgher btn */
#burgher {
  display:none;
}